<main>
  
  <header>
    <div>
  
      <h1>Lorem Ipsum</h1>
      <p class="subtitle">Vestibulum vel eros dui. Phasellus varius efficitur metus a maximus.</p>
      <hr />
      <ul class="social-header">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </div>  
  </header>

  <section class="intro">
    <h3>Phasellus varius</h3>
    <p>Quisque vulputate porttitor velit, at sodales dui dignissim at. Sed vel ligula eu elit vulputate sagittis eget quis nulla. Suspendisse ut maximus elit, sit amet mattis risus. Proin tempus ipsum non gravida rhoncus. Nulla sit amet porta est, id dapibus nulla. Donec ac urna convallis, suscipit neque eu, ultrices odio. Nullam nec nisl odio. Duis a purus vel dolor porttitor aliquet eget sed lectus. In luctus ligula justo. Integer hendrerit nunc ut erat venenatis, et vulputate dolor consequat. Integer eget lacus eget magna maximus consectetur. Duis viverra ac nulla sed mattis.</p>
  </section>

  <section class="services">
    <h3>Donec a nunc condimentum</h3>
    <div class="cards">
       <img src="https://images.unsplash.com/photo-1481068164146-e8beb686f4d2?auto=format&fit=crop&w=634&q=80" /> 
       <div class="card-content">
         <p>Nunc non nisl et eros pellentesque pulvinar. Quisque tempor, mi at congue eleifend, sapien nulla hendrerit eros, id interdum quam dui non erat.</p>
       </div>
    </div>
    <div class="cards">
      <img src="https://images.unsplash.com/photo-1507915977619-6ccfe8003ae6?auto=format&fit=crop&w=634&q=80" /> 
      <div class="card-content">
        <p>Nunc non nisl et eros pellentesque pulvinar. Quisque tempor, mi at congue eleifend, sapien nulla hendrerit eros, id interdum quam dui non erat.</p>
      </div>
   </div>
   <div class="cards">
    <img src="https://images.unsplash.com/photo-1505973793948-3eb4b3e6c1f2?auto=format&fit=crop&w=634&q=80" /> 
    <div class="card-content">
      <p>Nunc non nisl et eros pellentesque pulvinar. Quisque tempor, mi at congue eleifend, sapien nulla hendrerit eros, id interdum quam dui non erat.</p>
    </div>
 </div>
 <div class="cards">
  <img src="https://images.unsplash.com/photo-1486506063901-2b3966ca11d2?auto=format&fit=crop&w=634&q=80" /> 
  <div class="card-content">
    <p>Nunc non nisl et eros pellentesque pulvinar. Quisque tempor, mi at congue eleifend, sapien nulla hendrerit eros, id interdum quam dui non erat.</p>
  </div>
</div>

  </section>


  <section>
    <h3>Sit Amet</h3>
    <div class="details-card-lf-img">
      <img src="https://images.unsplash.com/photo-1474814947326-d835369963a5?auto=format&fit=crop&w=1950&q=80" />
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ultricies fringilla. Phasellus molestie, libero et malesuada commodo, justo ligula fermentum eros, id venenatis dui ex eu elit. Mauris porta orci nec enim malesuada molestie. Integer fermentum, odio a faucibus scelerisque, lacus enim molestie justo, et aliquet tellus erat sed mi. Phasellus imperdiet porta euismod. Duis blandit a dui in accumsan. Fusce volutpat lectus in dui pulvinar sodales. Praesent ac arcu sed libero sagittis facilisis nec bibendum ligula. Quisque pharetra lorem pulvinar est sodales feugiat. Vivamus ut enim semper, fermentum nunc nec, rutrum tortor.</p>
      </div>
    </div>

  </section>


  <section class="rest">
  </section>


  <section>
      <h3>Praesent ac arcu</h3>
      <div class="details-card-rt-img">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet ultricies fringilla. Phasellus molestie, libero et malesuada commodo, justo ligula fermentum eros, id venenatis dui ex eu elit. Mauris porta orci nec enim malesuada molestie. Integer fermentum, odio a faucibus scelerisque, lacus enim molestie justo, et aliquet tellus erat sed mi. Phasellus imperdiet porta euismod. Duis blandit a dui in accumsan. Fusce volutpat lectus in dui pulvinar sodales. Praesent ac arcu sed libero sagittis facilisis nec bibendum ligula. Quisque pharetra lorem pulvinar est sodales feugiat. Vivamus ut enim semper, fermentum nunc nec, rutrum tortor.</p>
        </div>
        <img src="https://images.unsplash.com/photo-1489966954707-b1cbf4aebd8a?auto=format&fit=crop&w=1341&q=80" />
      </div>
  
    </section>


  <section class="testimonials">
    <h3>Testimonials</h3>
    <app-testimonials></app-testimonials>
  </section>


  <section class="rest-two">
  </section>  
  
  <footer>
    <div>
      <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
    </div> 
  
    <div>
      <ul class="social-footer">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </div> 
  </footer>


</main>